<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>xrt X-ray Calculator</title>
<style>
.vertical-menu {
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4C50AF;
  color: white;
}
</style>
</head>
<body>
<div class="vertical-menu">
  <a href="#" class="active">xrt X-ray Calculator</a>
  <a href="/calc">Crystal Reflectivity</a>
  <a href="/BioXAS">BioXAS Flux</a>
</div>
</body>
</html>